@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Poppins&display=swap');

.dark_card__container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.dark_content {
    padding-top: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #101010;
    width: 100%;
}

.dark_card__name {
    line-height: normal;
    padding: 0px 50px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #FD9426;
}

.dark_card__title {
    padding: 0px 35px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    font-size: 21px;
    letter-spacing: -0.5px;
    color: #606060;
}

.dark_card__text {
    padding: 0px 18px;
    color: #606060;
    font-size: 14px;
    font-weight: normal;

    span {
        color: #CE6B14;
    }
}

.dark_times__conatiner {
    margin-top: 70px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.dark_time__content {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dark_time__num {
    font-size: 40px;
    color: #FD9426;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    background: #202020;
    width: 140px;
    height: 140px;
    line-height: 140px;
    margin-right: 0px;
    margin-left: 0px;
    right: 0px;
}

.dark_time_text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #FD9426;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    margin-right: 0px;
    margin-left: 0px;
    right: 0px;
}

@media screen and (min-width: 337px) {
    .dark_card__name {
        padding: 0px 40px;
        font-size: 33px;
    }

    .dark_card__title {
        margin-top: 15px;
        font-size: 28px;
    }

    .dark_times__conatiner {
        gap: 25px;
        grid-template-columns: auto auto;
    }

}

@media screen and (min-width: 540px) {
    .dark_times__conatiner {
        width: 100%;
        gap: 30px;
        grid-template-columns: auto auto;
    }

    .dark_time__num {
        width: 160px;
        height: 160px;
        line-height: 160px;
    }

    .dark_card__text {
        padding: 0px 100px;
    }
}

@media screen and (min-width: 640px) {
    .dark_card__text {
        padding: 0px 120px;
    }

    .dark_times__conatiner {
        width: 100%;
        gap: 30px;
        grid-template-columns: auto auto;
    }

    .dark_time__num {
        width: 170px;
        height: 170px;
        line-height: 160px;
    }
}

@media screen and (min-width: 760px) {
    .dark_content {
        margin-top: -50px;
        /* width: 600px; */
    }

    .dark_card__text {
        padding: 0px 10%;
    }
}

@media screen and (min-width: 850px) {
    .dark_content {
        margin-top: -50px;
        width: 750px;
    }

    .dark_times__conatiner {
        width: 100%;
        gap: 30px;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1000px) {
    .dark_content {
        margin-top: -50px;
        width: 900px;
    }

    .dark_times__conatiner {
        width: 100%;
        gap: 30px;
        grid-template-columns: auto auto auto auto;
    }
}

@media screen and (min-width: 1400px) {
    .dark_content {
        margin-top: -50px;
        width: 1100px;
    }

    .dark_time_text {
        margin-top: 30px;
    }
}